# Will is the Code Owner for the API, Scripts, Dockerfile, Travis, Deploykey, Nginx Configs
/api/ @willbootle
Dockerfile @willbootle
/scripts/ @willbootle
.travis.yml @willbootle
deploy_key.enc @willbootle
/frontend/nginx_config/ @willbootle
# Nathan, Alex, Kassidy are Code Owners for frontend
/frontend/ @NathanPavlovsky @brockthealex @kblock97
