# Will is the Code Owner for the API, Scripts, Dockerfile
/api/ @willbootle
Dockerfile @willbootle
/scripts/ @willbootle
# Nathan, Alex, Kassidy are Code Owners for frontend
/frontend/ @NathanPavlovsky @brockthealex @kblock97
