#mainPageLayout {
    width: calc(100% - 110px); 
    background-color: transparent;
    height: 100%;
    margin-left: 110px;
}

/* Rendering of the columns */
.column {
    float: left;
    width: 50%;
    height: 400px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* General Styling */

  .openNewPageLink {
      font-style: underline;
  }

  /* Formatting of column content */
  #topSectionTitle {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
      background-color: orange;
      font-size: 15pt;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 2px orangered solid;
  }

  #topSectionTitleCommentary {
      width: 90%;
      margin: 0 auto;
      margin-top: 0px;
      text-align: center;
      background-color: orange;
      font-size: 13pt;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 2px orangered solid;
      border-top: 1px orangered solid;
  }

  .bottomSection{
      width: 90%;
      border-radius: 5px;
      border: 2px darkblue solid;
      margin: 0 auto;
      background-color: white;
  }

  #bottomSectionTitle {
      font-size: 13pt;
      font-style: underline;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
  }
  
  #bottomSectionText{
    font-size: 10pt;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }