.classesPageLayout {
    width: 100%;
    background-color: transparent;
    height: 100%;
    margin: 0px auto;
}

#classesPageTitle {
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    border: 2px solid darkblue;
    background-color: #5491C3;
}

/* Formatting of the search options and table */
#optionsForm {
    width: 100%;
    display: block;
    text-align: center;
    align-content: center;
    background-color: #1F68B3;
    height: 25px;
    border: 2px solid darkblue;
    border-top: none;
}

.optionsPicker {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}

#classTable {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

tr, th, td {
   border: 1px solid black;
   padding-left: 10px;
   height: 20px;
}

.instructorLink {
    color: blue;
}
    
.nameCol {
    width: 25%;
}

.instructorCol {
    width: 35%;
}

.descriptionCol {
    width: 40%;
}