#aboutPageLayout {
    width: calc(100% - 110px); 
    background-color: transparent;
    height: 100%;
    margin-left: 110px;
}

#aboutTitle {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

#explanationText {
    background-color: white;
    font-size: 15pt;
    width: 90%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}